$white: #FFFFFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;
$styleNormal: normal;
$styleItalic: italic; 

$fuenteRoboto: 'Roboto', sans-serif;
$fuentePlayFair: 'Playfair Display', serif;

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
